<div class="comment-el card">
  <div class="d-flex flex-row justify-content-between align-items-center card-header <%= comment.status %>">
    <div>
      <% if comment.status && comment.status == 'like' %>
        <span>👍</span>
      <% elsif comment.status && comment.status == 'dislike' %>
        <span>👎</span>
      <% end %>
      <span><%= comment.user.email %></span>
    </div>
    <div class="comment-date">
      <%= comment.updated_at.strftime('%Y-%m-%d %H:%M') %>
    </div>
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p><%= comment.description %></p>
    </blockquote>
  </div>
</div>