<div class="container mt-5 mb-5">
  <h1 class="text-center">Film list</h1>

  <div class="movies-container d-flex flex-wrap gap-3 justify-content-center">
    <% @movies.each do |movie| %>
      <a class="card mv-link" href="<%= movie_path(movie) %>">
          <h3 class="mv-name card-img-top p-3 flex-fill bg-light bg-gradient"><%= movie.name %></h3>
          <div class="card-body flex-fill">
            <h4 class="card-title"><%= movie.year %></h4>
            <span class="card-text"><%= movie.description.truncate(100) %></span>
          </div>
      </a>
    <% end %>
  </div>

</div>